<div class="footer">
	<div class="container">
		<%= link_to 'https://www.facebook.com/adrien.nhem.officiel' do %>
		<%= image_tag("facebook.png") %>
		<% end %>
			<%= link_to 'https://twitter.com/AdrienNhem' do %>
		<%= image_tag("twitter.png") %>
		<% end %>
		<%= link_to 'uk.linkedin.com/in/adriennhem' do %>
		<%= image_tag("linkedin.png") %>
		<% end %>
		<br>
		<span class="muted">Copyright Adrien Nhem © 2015
</span>
	</div>
</div>